  .delivery-button{
    background-color: transparent;
    border: none;
    font-size: 12px;
    cursor:pointer;
    color: #494949;
    font-weight: 500;
    padding-right: 15px;
  }
  .icon-lokasyon-icon:before {
    color:#6f6f6f;
  }
  .city-name{
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: #0088ff;
    font-weight: bold;
     text-shadow: 0 1px 0 rgba(0,0,0,0.01);

  }
