<div class="header-search-area">
  <a href="#" class="fake-focus" #focusFake></a>
  <i class="icon icon-search-18_3 icon-head-search" ></i>
  <form action="" id="headerSearchForm" class="header-search-form">
    <input
      #searchInput class="autocomplete-input"
      placeholder="Ürün, kategori veya marka arayınız"
      aria-label="search"
      tabindex="0"
      type="search"
      maxlength="150"
      required>
      <button class="close-icon" type="reset"></button>
    <input type="button" name="headerSearch" class="header-search-submit" value="ARA">

  </form>
  <div class="results">
    <div class="autocomplete market"
     
    >
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <ng-container >
            <span class="search-title"></span>
            <nav class="search-list">
              <a [routerLink]="'search'"
                >
              </a>
            </nav>
          </ng-container>

          <ng-container >
            <ng-container >
            <span class="search-title set"></span>
            <nav class="search-list">
              <a [routerLink]="'search'"
                
                >
              </a>
            </nav>
            </ng-container>
          </ng-container>

          <ng-container >
          <span class="search-title set"></span>
          <nav class="search-list">
            <a [routerLink]="'brand'"
               >
            </a>
          </nav>
          </ng-container>
        </div>

        <ng-container >
          <div class="col-md-12 col-lg-8">
            <ng-container >
              <div class="search-product-list" >
                <ng-container >
                  <div class="search-product-item">
                    <a [routerLink]="'product'"
                       class="search-product">
                      <div class="search-content">
                        <figure class="search-image"
                          
                        ></figure>
                        <div class="search-detail">
                          <span class="product-name"></span>
                          <div class="price">
                            <div class="top" >
                              <span class="old-price"></span>
                              <span class="discount">%</span>
                            </div>
                            <span class="current-price"> </span>
                          </div>
                        </div>
                      </div>
                    </a>
                    <ng-container >
                      <button class="btn btn-primary btn-add-cart" >
                        <i class="icon icon-combined-shape2"></i>
                      </button>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
