<ng-template #content let-modal>
  <div class="modal-header custom-delivery-time-modal">
    <button type="button" class="close" aria-label="Close" >
        <i class="icon icon-combined-shape_18"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="box">
    <h3></h3>
    <p></p>
    <div class="main">
      <!-- ## time table -->
      <div class="time-table">
        <div class="table-in">
          <div class="data-columns in-general-tabs">
            <div class="data-column-in row flex-nowrap">
              <ng-container >
                <div class="data-column in-tab-container active col">
                  <div class="line head"><span class="text" [></span></div>
                  <div class="line" >
                    <label class="filter-check">
                          <span 
                                class="timeSlot"></span>
                      <span 
                            class="timeSlot disabledTimeSlot"></span>
                      <span 
                            class="timeSlot disabledTimeSlot"></span>
                    </label>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</ng-template>
<button class="delivery-time-button" type="button" >
  <i class="icon icon-combined-shape_19 ml-2 mr-1 mb-1"></i>Teslimat Zamanı
</button>
