.navigation-button {
  width: 85%;
  margin-left: auto;

  .button-style {
    border-width: 0;
    text-decoration: underline;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    padding: 0 !important;
    margin-bottom: 0;
    text-align: right;
    height: 40px;
    font-size: 12px;
  }
}
